<?xml version="1.0" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect non-www to www" patternSyntax="Wildcard"
                      stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTP_HOST}"
                             pattern="metrounitedsecurity.com" />
                    </conditions>
                    <action type="Redirect"
                            url="http://www.metrounitedsecurity.com/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
